#hugBtn{
    margin-top:25px;
    padding:18px 40px;
    font-size:1.2rem;
    border:none;
    border-radius:40px;
    background:#ff4d6d;
    color:white;
    cursor:pointer;
}

.barContainer{
    width:80%;
    max-width:300px;
    height:12px;
    background:#ffd6e0;
    border-radius:20px;
    margin:20px auto;
    overflow:hidden;
}

#progressBar{
    width:0%;
    height:100%;
    background:#ff4d6d;
    transition:width .1s linear;
}

.hidden{
    display:none;
}

#msg{
    margin-top:20px;
    font-size:1.2rem;
    color:#ff4d6d;
    animation: fadeIn 1s ease;
}

#continueBtn{
    margin-top:15px;
    padding:10px 25px;
    border:none;
    border-radius:40px;
    background:#ff4d6d;
    color:white;
    cursor:pointer;
}


/* heart explosion */

.heart{
    position:fixed;
    font-size:1.6rem;
    animation: explode 1.5s ease forwards;
}

@keyframes explode{
    to{
        transform:translate(var(--x), var(--y)) scale(0);
        opacity:0;
    }
}

#hugScene{
    margin-top:20px;
    font-size:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
}

#leftPerson,
#rightPerson{
    transition:1s ease;
}

/* move together */

.hugMove #leftPerson{
    transform:translateX(20px);
}

.hugMove #rightPerson{
    transform:translateX(-20px);
}

/* hugging pulse */

.hugPulse{
    animation: hugPulse 0.6s ease infinite alternate;
}

@keyframes hugPulse{
    from{ transform:scale(1);}
    to{ transform:scale(1.15);}
}