/* promise5.css */
input{
    margin-top:20px;
    padding:15px;
    width:80%;
    max-width:300px;
    border-radius:30px;
    border:1px solid #ddd;
    text-align:center;
    font-size:1rem;
}

#makeBtn{
    margin-top:15px;
}

.hidden{
    display:none;
}

#display{
    margin-top:20px;
    font-size:1.3rem;
    color:#ff4d6d;
}


/* glowing promise */

.glow{
    animation: glow 1.5s ease infinite alternate;
}

@keyframes glow{
    from{
        text-shadow:0 0 10px #ff8fa3;
    }
    to{
        text-shadow:0 0 30px #ff4d6d, 0 0 40px #ff8fa3;
    }
}

#continueBtn{
    margin-top:15px;
    padding:10px 25px;
    font-size:1.1rem;
    border:none;
    border-radius:40px;
    background:#ff4d6d;
    color:white;
    cursor:pointer;
}