#teddy{
    font-size:6rem;
    cursor:pointer;
    transition:.3s;
}

#teddy:active{
    transform:scale(.9);
}

.hint{
    margin-top:15px;
    color:#777;
}

.hidden{
    display:none;
}

#msg{
    margin-top:15px;
    color:#ff4d6d;
    font-size:1.2rem;
    animation: fadeIn 1s ease;
}

#continueBtn{
    margin-top:10px;
    padding:10px 25px;
    font-size:1.1rem;
    border:none;
    border-radius:40px;
    background:#ff4d6d;
    color:white;
    cursor:pointer;
}


/* hug pulse */

.hug{
    animation: hugPulse 0.6s ease infinite alternate;
}

@keyframes hugPulse{
    from{ transform:scale(1);}
    to{ transform:scale(1.2);}
}


/* floating hearts */

.heart{
    position:fixed;
    bottom:-30px;
    font-size:1.5rem;
    animation: rise linear forwards;
}

@keyframes rise{
    to{
        transform:translateY(-120vh);
        opacity:0;
    }
}