.letter{
    margin-top:0px;
    font-size:1.2rem;
    color:#ff4d6d;
    line-height:1.7;
    animation: fadeIn 2s ease;
}

.title1{
    margin-bottom:10px;
    font-family:'Great Vibes',cursive;
    font-size:3rem;
    color:#ff4d6d;
}

.slideshow{
    margin-top:15px;
    display:flex;
    justify-content:center;
}

.slideshow img{
    width:55vw;
    max-width:220px;
    aspect-ratio:1/1;
    object-fit:cover;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
    border:3px solid #ffd6e0;
    transition:0.6s ease;
}

#musicBtn{
    margin-top:15px;
    padding:8px 18px;
    font-size:1rem;
}

/* fireworks */

.fire{
    position:fixed;
    width:6px;
    height:6px;
    border-radius:50%;
    animation: boom 1s ease forwards;
}

@keyframes boom{
    to{
        transform:translate(var(--x), var(--y));
        opacity:0;
    }
}